h1 {
	font-family: 'atrament-web', sans-serif;
}

.container {
	width: 64em;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.title {
	font-size: 5em;
	height: 8em;
	width: 8em;
	line-height: 8em;
	margin: 15vh auto;

	font-variant: small-caps;
	text-shadow: 2px 2px 0px #fff;

	color: #333;

	border-radius: 50%;
	border: 3px dotted #fff;

	background: url(martini.jpg) no-repeat center center;
}

.coming-soon {
	position: absolute;
	top: 11.3em;
	font-family: 'caflisch-script-pro';
	font-size: 2em;
	font-weight: light;
	color: #fff;
	margin-left: 3em;

	text-shadow: 1px 1px 0px #333;
}

.emailus {
	margin-top: -20px;
	font-size: .9em;
}