h1, h2, h3, h4 {
	font-family: "pt-sans-narrow", Helvetica, arial, sans-serif;
}

.navbar {
	background: #fff;
	border: none;
}

.navbar-brand {
	font-family: "atrament-web", sans-serif;
	font-size: 2em;
}

.jumbotron {
	margin-top: 50px;
	height: 30em;

	background-image: url(images/header.jpg);
	background-position: center center;
	background-size: 100vw;
}

.intro {
	font-size: 3em;
	text-align: center;
	margin-top: 3em;

	color: #eee;
}

.introduction h4 {
	line-height: 1.5em;
}

.section-heading {
	text-align: center;
}

.thumbnail {
	border: none;
}

.footer {
	background: #333;
	color: #eee;
	/*padding: 1em 0;*/
}

.footer p {
	padding: 1em 0;
	margin-bottom: 0;
}